$color-primary: #66b1ff;
$color-border-1: #D9D9D9;
$color-border-2: #F5F5F5;

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}
.lc-city-select {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  &.lc-show {
    display: block;
    .lc-city-mask {
      animation: fadeIn .3s both;
    }
    .lc-city-body {
      animation: tranY .3s both;
    }
  }
  &.lc-close {
    .lc-city-mask {
      animation: fadeIn-close .3s both;
    }
    .lc-city-body {
      animation: tranY-close .3s both;
    }
  }
}
.lc-city-mask {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}
.lc-error-tip {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  margin-left: -60px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
  padding: 6px;
  width: 120px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, .6);
  &.lc-show {
    display: block;
    animation: tranY .3s both;
  }
}
.lc-city-body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 76%;
  background-color: #fff;
  user-select: none;
  .lc-titile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid $color-border-1;
    .lc-top-title {
      font-size: 16px;
      font-weight: normal;
      color: #666;
    }
    .lc-btn {
      border: 0;
      padding: 0 16px;
      font-size: 16px;
      color: $color-primary;
      background-color: transparent;
      outline: none;
      cursor: pointer;
    }
  }
  .lc-nav-wrap {
    position: relative;
    z-index: 3;
    border-bottom: 1px solid $color-border-1;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    cursor: pointer;
    .lc-nav {
      position: relative;
      display: inline-block;
      padding: 0 10px;
      max-width: 33.33%;
      font-size: 14px;
      color: #333;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:after {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 20%;
        z-index: 3;
        border-radius: 2px;
        width: 60%;
        height: 2px;
        background-color: $color-primary;
        transform: scale(0);
        transform-origin: center;
        transition: all .3s;
      }
      &.active {
        color: $color-primary;
        &:after {
          transform: scale(1);
        }
      }
    }
    .lc-line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 33.33%;
      height: 2px;
      background-color: $color-primary;
      z-index: 2;
    }
  }
  .lc-center {
    flex: 0 0 1;
    display: flex;
    height: 100%;
    background-color: #fff;
    transition: all .3s;
    &.tranx {
      transform: translate3d(-50%, 0, 0);
    }
  }
  .lc-ul {
    overflow: hidden;
    flex: 0 0 50%;
    width: 50%;
    border-right: 1px solid $color-border-2;
    &:nth-child(2) {
      background-color: $color-border-2;
      .lc-li {
        border-color: #e5e5e5;
      }
    }
  }
  .lc-scroll {
    padding: 0 20% 0 10%;
    width: 110%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .lc-li {
      position: relative;
      border-bottom: 1px solid $color-border-2;
      width: 100%;
      height: 40px;
      font-size: 14px;
      color: #787878;
      line-height: 40px;
      list-style: none;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &.active {
        color: $color-primary;
        .icon {
          display: block;
        }
      }
      .icon {
        display: none;
        position: absolute;
        top: 68%;
        right: 16px;
        width: 1.2em;
        height: .3em;
        background-color: $color-primary;
        transform: rotate(60deg);
        transform-origin: right center;
        border-radius: .15em;
        font-size: 8px;
        &:after {
          content: "";
          position: absolute;
          top: .1em;
          left: -.85em;
          width: 2em;
          height: .3em;
          background-color: $color-primary;
          transform: rotate(60deg);
          transform-origin: right center;
          border-radius: .15em;
        }
      }
    }
  }
}

// 兼容pc端
@media (min-width: 576px) { 
  
}

@media (min-width: 768px) {
  .lc-city-mask {
    display: none;
  }
  .lc-city-select {
    position: absolute;
    max-width: 440px;
    width: 440px;
    height: 440px;
    .lc-city-body {
      border-radius: 6px;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3);
      height: 440px;
    }
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes tranY {
  from {
    transform: translate3d(0, 100%, 0);
  }
  
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn-close {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes tranY-close {
  from {
    transform: translate3d(0, 0, 0);
  }
  
  to {
    transform: translate3d(0, 100%, 0);
  }
}